.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 1;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
.carousel-inner > .item {
  transition: transform 1s ease-in-out !important;
  -webkit-transition: transform 1s ease-in-out !important;
  -moz-transition: transform 1s ease-in-out !important;
  -ms-transition: transform 1s ease-in-out !important;
  -o-transition: transform 1s ease-in-out !important;
}
