@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Questrial&display=swap");
body {
  margin: 0;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-size: normal;
  font-smooth: always;
  background: #fff;
}

/* AUDIO */
#btn-audio {
  position: fixed;
  right: 15px;
  bottom: 25px;
  display: flex;
  align-items: center;
  z-index: 999;
}

#click-btn {
  z-index: 100;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playPausebtn {
  width: 35px;
}

/* POPUP ASLI*/
#modal {
  height: 100%;
  text-align: center;
  z-index: 1000;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transition: 1s;
  z-index: 1000;
}

#modal .popup {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-out;
  background-image: url("../../assets/images/popup1-edited.jpg");
  animation: banner 17s infinite linear;
}

#modal .popup-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  /*background: rgb(0,0,0); background: linear-gradient(0deg, rgba(0,0,0,1) 17%, rgba(0,0,0,0) 59%);*/
  display: flex;
  flex-direction: column;
  justify-content: top center;
  padding-top: 50px;
  /*background: rgb(0,0,0); background: linear-gradient(180deg, rgba(0,0,0,1) 17%, rgba(0,0,0,0) 59%);*/
}

#modal .popup-content h1 {
  font-family: "Marcellus", serif;
  padding-bottom: 10px;
  font-size: 43px;
  line-height: 30px;
  letter-spacing: 1px;
}

#modal .popup-content h2 {
  font-size: 14px;
  line-height: 5px;
  letter-spacing: 3px;
  font-family: "Marcellus", serif;
}

#modal .popup-content .h6 {
  font-size: 37px;
}

#modal .popup-content h5 {
  line-height: 6px;
  letter-spacing: 3px;
}

#modal .popup-content .yth {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

#modal .popup-content .nama-tamu {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  margin: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

#modal .popup button {
  border: none;
  padding: 5px;
  border-radius: 25px;
  width: 190px;
  /*----PENTING-----*/
  margin-top: 10px;
  background: #fff url(../../assets/images/bg-acara-edited.jpg);
  color: #000;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-shadow: 0 0 1px transparent, 0 2px 5px rgba(0, 0, 0, 0.8);
}

#modal .popup button:hover {
  background-color: white;
  color: #333;
}

@keyframes banner {
  0% {
    background-image: url("../../assets/images/popup1-edited.jpg");
  }

  50% {
    background-image: url("../../assets/images/popup1-edited.jpg");
  }

  26% {
    background-image: url("../../assets/images/popup2-edited.jpg");
  }

  50% {
    background-image: url("../../assets/images/popup2-edited.jpg");
  }
}

/* HEADER */
#header-tittle {
  position: absolute;
  display: block;
  z-index: 99;
  color: #fff;
  width: 100%;
  text-align: center;
  top: 230px;
}

#header-tittle h1 {
  font-family: "Marcellus", serif;
  padding-bottom: 10px;
  font-size: 43px;
  line-height: 40px;
  letter-spacing: 1px;
}

#header-tittle h4 {
  font-size: 5px;
  line-height: 5px;
  letter-spacing: 3px;
}

#header-tittle .h6 {
  font-size: 37px;
}

#header-tittle h6 {
  font-size: 13px;
  line-height: 27px;
  letter-spacing: 3px;
  font-family: "Marcellus", serif;
}

.tittle-section {
  font-family: "Marcellus", serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #2c2b2a;
  padding-bottom: 15px;
  letter-spacing: 2px;
  padding-top: 5px;
}

.tittle-section2 {
  margin-top: 50px;
  width: 50px;
  height: 2px;
  background: #e9ca8d;
  border-radius: 1px;
  margin: auto;
  bottom: 0;
}

/*QUOTE */
#quote {
  margin: 0px auto;
  font-size: 30px;
  font-family: "Italianno", cursive;
  line-height: 30px;
  background: #2c2b2a;
  padding: 25px;
}

#quote .box {
  padding: 30px;
  background: #fff url(../../assets/images/bg.png);
  border-radius: 10px;
}

#quote h2 {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Questrial", sans-serif;
  line-height: 27px;
  padding-top: 10px;
}

#quote h3 {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Questrial", sans-serif;
}

/* SLIDE HEADER */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  overflow: hidden;
}

.item.active img {
  transition: transform 7000ms linear 0s;
  transform: scale(1.03, 1.03);
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-inner img {
  width: 100%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* PENGANTAR/PENUTUP */
#pengantar {
  letter-spacing: 1px;
  color: #817a75;
  padding: 0px 20px;
  font-family: "Muli", sans-serif;
}

#pengantar img {
  padding: 10px 0px;
}

#penutup {
  letter-spacing: 1px;
  color: #817a75;
}

#penutup img {
  padding: 20px 0px;
}

/* TENTANG PASANGAN */
#tentang-pasangan {
  color: #2c2b2a;
  padding: 25px 0 10px 0;
  font-family: "Questrial", sans-serif;
  letter-spacing: 1px;
  position: relative;
  z-index: 77;
}

#tentang-pasangan h2 {
  font-size: 22px;
  font-family: "Italiana", serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 30px;
}

#tentang-pasangan p {
  margin-bottom: 20px;
  color: #817a75;
}

#tentang-pasangan .img-profil {
  width: 207px;
  height: 270px;
  border-radius: 120px;
  padding: 7px;
  margin-top: 30px;
}

#tentang-pasangan .fa-instagram {
  font-size: 30px;
  color: #2c2b2a;
  padding: 7px;
}

#tentang-pasangan .fa-facebook-f {
  font-size: 26px;
  color: #2c2b2a;
  padding: 7px;
}

#tentang-pasangan .fa-heart-o {
  margin: 3px;
  color: red;
  font-size: 15px;
}

/* INFO ACARA */
#acara {
  color: #fff;
  letter-spacing: 1px;
  padding: 0px 25px;
  margin: 20px;
  background: url("../../assets/images/bg-acara-edited.jpg") no-repeat;
  background-position: top center;
  border-radius: 10px;
}

#acara p {
  line-height: 30px;
  padding: 20px 0px;
}

#acara .btn-map {
  font-size: 15px;
  background: #fff url(../../assets/images/bg.png);
  color: #000;
  padding: 10px 25px;
  border-radius: 20px;
  letter-spacing: 2px;
}

#acara .btn-protkes {
  font-size: 15px;
  padding: 9px 27px;
  border-radius: 20px;
  margin-top: 15px;
  width: 230px;
  margin: 0px auto;
  border: solid 1px #fff;
}

#covid {
  line-height: 25px;
  letter-spacing: 1px;
  margin-top: 20px;
  font-size: 15px;
  color: #000;
}

/* GIFT */
#gift {
  margin: 0px auto;
  padding: 15px;
  font-size: 15px;
  letter-spacing: 1px;
}

#gift .btn {
  font-size: 15px;
  background: #2c2b2a;
  color: #fff;
  padding: 7px 23px;
  border-radius: 20px;
}

#gift .h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}

#covid2 {
  font-family: "Poppins", sans-serif;
  line-height: 25px;
  letter-spacing: 1px;
  margin-top: 20px;
  font-size: 15px;
  color: #000;
}

#gift .button-gift {
  padding: 7px 23px;
  border: #cccccc solid 1px;
  background: #e1e1e1;
  border-radius: 20px;
}

#gift button:focus {
  background-color: #fff4ae;
}

#gift button:active {
  background-color: #fff4ae;
}

/*GALLERY */
#gallery_grid {
  margin-top: 30px;
  position: relative;
  max-width: 100%;
  width: 100%;
  margin-left: 5px;
}

#gallery_grid .white-panel img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#gallery_grid .white-panel {
  position: absolute;
}

/* KONFIRMASI - NEW */
#konfirmasi {
  margin: -10px auto;
  color: #fff;
  background: #2c2b2a;
  letter-spacing: 1px;
  padding: 20px 15px 0px 15px;
}

#konfirmasi2 {
  margin: 0px auto;
  margin: 0px;
  padding: 0px;
}

#konfirmasi label {
  padding: 10px 0px 7px 0px;
}

#konfirmasi button {
  width: 100%;
  background: #ffc148;
  color: #000;
  margin: 10px 0px;
  padding: 7px;
  border: none;
  letter-spacing: 2px;
}

#konfirmasi .back {
  margin: 0px auto;
  padding: 0px 15px;
}

#konfirmasi .btn-back {
  background: #000;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}

.form-group {
  margin-bottom: 5px;
}

.form-group .has-error em.help-block {
  font-size: 12px;
  color: #ff4200;
  margin-bottom: 0px;
}

/* KOMENTAR - NEW*/
#komentar {
  margin: 0px auto;
  padding: 5px;
}

#komentar .komentar-box {
}

#komentar .grid {
  border-bottom: #d6d6d6 dotted 1px;
  margin-bottom: 20px;
}

#komentar h2 {
  font-size: 15px;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

#komentar h4 {
  font-size: 13px;
  font-style: italic;
  letter-spacing: 1px;
}

#komentar h5 {
  font-size: 11px;
  color: #a8a8a8;
  line-height: 10px;
  letter-spacing: 1px;
}

/* FOOTER*/
#footer {
  width: 100%;
  height: 500px;
  text-align: center;
  padding: 30px;
  background: url("../../assets/images/bg-footer-edited.jpg") center;
  background-size: cover;
  color: #fff;
}

#footer h1 {
  margin-top: 200px;
  font-family: "Pinyon Script", cursive;
  font-size: 27px;
  letter-spacing: 0px;
  line-height: 30px;
}

#footer h2 {
  font-size: 14px;
  margin-bottom: 70px;
  letter-spacing: 3px;
}

#footer h3 {
  font-size: 13px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

#footer h3 a {
  text-decoration: none;
  color: #ffc000;
}

#footer .social a {
  background: #fff;
}

#footer .social a i {
  color: #000;
}

#footer a > img {
  width: 100px;
}

#footer .social {
  display: block;
}

#footer .social a {
  padding: 10px 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

.countdown.show {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  padding-bottom: 20px;
}

.countdown.show h2 {
  font-size: 25px;
  font-family: "Pinyon Script", cursive;
  color: #ffc148;
}

.countdown.show .running,
.running {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.countdown.show .running timer,
.running timer {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  color: #fff;
}

.countdown.show .running timer .days,
.running timer .days,
.countdown.show .running timer .hours,
.running timer .hours,
.countdown.show .running timer .minutes,
.running timer .minutes,
.countdown.show .running timer .seconds,
.running timer .seconds {
  width: 50px;
  text-align: left;
  margin: 0 7px;
}

@media (max-width: 768px) {
  .slide-indicator {
    position: absolute;
    bottom: 0;
    right: 46%;
    display: inline;
  }

  .btn-protkes {
    width: auto;
  }
}

@media (max-width: 480px) {
  .countdown.show .running timer,
  .running timer {
    font-size: 40px;
  }

  .countdown.show .running timer .days,
  .running timer .days,
  .countdown.show .running timer .hours,
  .running timer .hours,
  .countdown.show .running timer .minutes,
  .running timer .minutes,
  .countdown.show .running timer .seconds,
  .running timer .seconds {
    width: 49px;
  }
}

.countdown.show .running .labels,
running .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}

.countdown.show .running .labels span,
.running .labels span {
  width: 69px;
  text-align: center;
  margin: 0px 2px;
}

@media (max-width: 480px) {
  .countdown.show .running .labels span,
  .running .labels span {
    width: 69px;
  }
}

.countdown.show .running .break,
.running .break {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  height: 0;
  padding: 5px;
}

.countdown.show .ended,
.ended {
  display: none;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.countdown.show .ended .break,
.ended .break {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  height: 0;
}

#acara {
  background: url("../../assets/images/bg-acara-edited.jpg") no-repeat;
  background-position: center;
  height: auto;
}
